<div class="content-container height-100" >
  <div style="height:100%; width: 100% ; padding-left: 50px !important;">

<clr-datagrid style="margin-right: 40px">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" (click)="mdOpen = true"><clr-icon shape="plus"></clr-icon> Create Assignment</button>
      <button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="pencil"></clr-icon> Review Assignment</button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column>Assignment Id</clr-dg-column>
  <clr-dg-column>Assignment Name</clr-dg-column>
  <clr-dg-column>Credit</clr-dg-column>
  <clr-dg-column>Due Date</clr-dg-column>
  <clr-dg-placeholder >
    Fetching Assignments... <span class="spinner spinner-sm"></span>
  </clr-dg-placeholder>

  <clr-dg-row  *clrDgItems="let items of assignment">
    <clr-dg-cell>{{items.title}}</clr-dg-cell>
    <clr-dg-cell>{{items.content}}</clr-dg-cell>
    <clr-dg-cell>{{items.credit}}</clr-dg-cell>
    <clr-dg-cell>{{items.dueDate}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} assignments
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
<clr-wizard #wizardlg [(clrWizardOpen)]="mdOpen" clrWizardSize="lg">
  <clr-wizard-title>Create Assignment</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="createAssignment()">Create</clr-wizard-button>
  <clr-wizard-page>
    <ng-template clrPageTitle>Assignment</ng-template>

    <form clrForm class="section-content">
      <section class="form-block">
        <clr-input-container>
          <label class="required">Title </label>
          <input clrInput type="text" id="aForm_1"
                 placeholder="Enter assignment title" name="title" [(ngModel)]="form.title"
                 #title="ngModel">
        </clr-input-container>

        <clr-input-container>
          <label class="required">Content</label>
          <textarea clrInput type="text" id="aForm_2"
                 placeholder="Enter assignment details" name="content" [(ngModel)]="form.content"
                    #content="ngModel">
          </textarea>
        </clr-input-container>

        <clr-input-container>
          <label class="required">Due Date</label>
          <input clrInput type="date" id="aForm_3" name="content" [(ngModel)]="form.dueDate"
                    #dueDate="ngModel">
        </clr-input-container>

        <div class="clr-form-control">
          <div class="clr-select-wrapper" style="float:left;">
          <label class="required">Credits</label>
          <select name="credits" [ngModel]="form.credit" class="clr-select" #credit = "ngModel">
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
          </select>
          </div>
        </div>
      </section>
    </form>
  </clr-wizard-page>
</clr-wizard>
  </div>
</div>
