<div class="main-container">
<div class="content-container">
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" >
    <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
      NCG
    </a>
    <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
     Mentor
    </a>
    <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
     Team
    </a>
    <a clrVerticalNavLink routerLink="./admin/assignment" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
      Assignment
    </a>
  </clr-vertical-nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
