<div class="login-wrapper">
  <form class="login"
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      VMware
      <h5 class="hint">Use your Company ID to sign in or create one now</h5>
    </label>
    <div class="login-group">
      <div class="auth-source select">
        <select id="login-auth-source-1" [(ngModel)] ="roles.selectedRole" [ngModelOptions]="{standalone: true} " clrSelect class="select-component">
          <option value="ncg" >NCG</option>
          <option value="admin">Administrator</option>
        </select>
      </div>
      <input class="clr-input"
             type="email"
             id="login_email"
             placeholder="Email"
             name="email"
             [(ngModel)]="form.email"
             required
             email
             #email="ngModel"
             style="margin-bottom: 10px">

      <input class="clr-input"
             type="password"
             id="login_password"
             placeholder="Password"
             name="password"
             [(ngModel)]="form.password"
             required
             minlength="8"
             #password="ngModel"
             style="margin-top: 10px; margin-bottom: 10px ">
      <div class="error active"  *ngIf="f.submitted && isLoginFailed">
        Invalid email or password
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="isLoggedIn" >
   {{onLoggedIn()}}
  </div>
</div>
