
<div class="login-wrapper">
  <form class="login">
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      VMware
      <h5 class="hint">Use your Company ID to sign in or create one now</h5>
    </label>
    <div class="login-group">
      <input class="clr-input" type="text" id="login_username" placeholder="Username" style="margin-bottom: 10px">
      <input class="clr-input" type="password" id="login_password" placeholder="Password" style="margin-top: 10px; margin-bottom: 10px ">
      <div class="error active">
        Invalid user name or password
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <a href="javascript://" class="signup">Register</a>
    </div>
  </form>
</div>
