<div class="outer-container-table">
  <h2 class="teams-heading">Teams</h2>
<clr-datagrid style="width: 70%">
  <clr-dg-column>Team Name</clr-dg-column>
  <clr-dg-column>Members</clr-dg-column>
  <clr-dg-column>Mentor</clr-dg-column>
  <clr-dg-placeholder >
    Fetching Teams... <span class="spinner spinner-sm"></span>
  </clr-dg-placeholder>

  <clr-dg-row  *clrDgItems="let team of allteams; let i = index">
    <clr-dg-cell>{{team.name}}</clr-dg-cell>
    <clr-dg-cell>
    <div *ngFor="let names of team.ncgs" style="padding: 3px">
      . {{names.name}}
    </div>
    </clr-dg-cell>
    <clr-dg-cell>{{team.mentor}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} teams
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
</div>
