<clr-datagrid style="margin-right: 40px">
  <clr-dg-action-bar>
    <button type="button" class="btn btn-sm btn-secondary" style="margin: 3px"><clr-icon shape="plus"></clr-icon> Edit Team Members</button>
    <button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="pencil"  style="margin: 3px"></clr-icon> Review team Assignment</button>
  </clr-dg-action-bar>
  <clr-dg-column>Team Id</clr-dg-column>
  <clr-dg-column>Team Name</clr-dg-column>
  <clr-dg-column>Members</clr-dg-column>
  <clr-dg-column>Mentor</clr-dg-column>
  <clr-dg-column>Assignments</clr-dg-column>
  <clr-dg-placeholder >
    Fetching Teams... <span class="spinner spinner-sm"></span>
  </clr-dg-placeholder>

  <clr-dg-row  *clrDgItems="let team of allteams">
    <clr-dg-cell>{{team._id}}</clr-dg-cell>
    <clr-dg-cell>{{team.teamName}}</clr-dg-cell>
    <clr-dg-cell>{{team.teamMembers}}</clr-dg-cell>
    <clr-dg-cell>{{team.teamMentor}}</clr-dg-cell>
    <clr-dg-cell>{{team.teamAssignments}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} teams
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

