<div class="outer-board">
<div class="leaderboard-title">Leaderboard <clr-icon shape="crown" size="36"  class="is-info"></clr-icon></div>
<section id="scrims-ladder--container" class="scrims-ladder">
  <div class="ladder-nav--results">
    <div class="ladder-nav--results-col">
      <label>Rank</label>
    </div>
    <div class="ladder-nav--results-col">
      <label>Name</label>
    </div>
    <div class="ladder-nav--results-col">
      <label>Vmware Id</label>
    </div>
    <div class="ladder-nav--results-col">
      <label>Marks</label>
    </div>
  </div>
  <hr>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">1</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <!-- JS Loop -->
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">2</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">3</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">4</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
  <div class="ladder-nav--results-players">
    <div class="results-col">
      <span class="results-rank"><span class="positions">5</span></span>
    </div>
    <div class="results-col">
      <span class="results-team">Nihilum</span>
    </div>
    <div class="results-col">
      <span class="results-p1">Hydramist@vmware.com</span>
    </div>
    <div class="results-col">
      <span class="results-p2">300</span>
    </div>
  </div>
</section>
</div>
