<clr-datagrid style="margin-right: 40px">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="plus"></clr-icon> Add</button>
      <button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="close"></clr-icon> Delete</button>
      <button type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="pencil"></clr-icon> Edit</button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-column></clr-dg-column>
  <clr-dg-column>NCG Id</clr-dg-column>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Email</clr-dg-column>
  <clr-dg-placeholder >
    Fetching NCGs... <span class="spinner spinner-sm"></span>
  </clr-dg-placeholder>
  <clr-dg-row  *clrDgItems="let item of ncgs">
    <clr-dg-cell>
      <input type="checkbox" name="ch1">
    </clr-dg-cell>
    <clr-dg-cell>{{ item._id}}</clr-dg-cell>
    <clr-dg-cell>{{item.name}}</clr-dg-cell>
    <clr-dg-cell>{{item.email}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} ncgs
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
