<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <div class="row">
        <div class="column1">
          <div class="clr-row">
            <div class="clr-col-lg-12">
              <div class="card-block">
                <div class="card-text">
                  <div class="container-card-landing">
                    <div class="heading-landing" style="text-align: center;">Welcome to VMware !</div>
                    <div  class="sub-heading-landing" style="text-align: center"> New College Graduate Bootcamp Admin Section </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div >
          <h4>All NCGs</h4>
          <clr-datagrid style="width: 50%">
            <clr-dg-column>NCG Id</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Email</clr-dg-column>
            <clr-dg-column>Total Marks</clr-dg-column>
            <clr-dg-placeholder >
              Fetching NCGs... <span class="spinner spinner-sm"></span>
            </clr-dg-placeholder>
            <clr-dg-row  *clrDgItems="let item of ncgs">
              <clr-dg-cell>{{ item._id}}</clr-dg-cell>
              <clr-dg-cell>{{item.name}}</clr-dg-cell>
              <clr-dg-cell>{{item.email}}</clr-dg-cell>
              <clr-dg-cell>{{item.totalMarks}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} ncgs
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </div>
        <div>
          <h4>All Teams</h4>
          <clr-datagrid style="width: 50%">
            <clr-dg-column>Team Id</clr-dg-column>
            <clr-dg-column>Team Name</clr-dg-column>
            <clr-dg-column>Team Members</clr-dg-column>
            <clr-dg-column>Team Mentor</clr-dg-column>
            <clr-dg-placeholder >
              Fetching NCGs... <span class="spinner spinner-sm"></span>
            </clr-dg-placeholder>
            <clr-dg-row  *clrDgItems="let item of ncgs">
              <clr-dg-cell>{{ item._id}}</clr-dg-cell>
              <clr-dg-cell>{{item.name}}</clr-dg-cell>
              <clr-dg-cell>{{item.email}}</clr-dg-cell>
              <clr-dg-cell>{{item.totalMarks}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} ncgs
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>

    </div>

  </div>
</div>
