
<div class="main-container">

<div class="content-container">
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" >
    <a clrVerticalNavLink routerLink="../landing" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
     Home
    </a>
    <a clrVerticalNavLink routerLink="../team" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="employee-group"></clr-icon>
     Team
    </a>
    <a clrVerticalNavLink routerLink="../assignments" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="pinboard"></clr-icon>
      Assignment
    </a>
  </clr-vertical-nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
